In [1]:
import torch
import pandas as pd
import numpy as np

In [2]:
data = pd.read_table('yeast.txt', delim_whitespace=True, header=None)
data.head()

            0     1     2     3     4    5    6     7     8    9
0  ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT
1  ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
2  ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
3  AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
4  AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT

In [3]:
X = data.loc[:,1:8]
y = data.loc[:,9]
X.shape, y.shape

((1484, 8), (1484,))

In [4]:
X.head()

      1     2     3     4    5    6     7     8
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22

In [5]:
y.head()

0    MIT
1    MIT
2    MIT
3    NUC
4    MIT
Name: 9, dtype: object

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([6, 6, 6, ..., 4, 7, 0])

In [7]:
X = X.to_numpy()
y = np.array(y)
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [8]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_Shuffle.p', 'wb') as f:
    pickle.dump(Data, f)

In [9]:
with open('Dataset_Shuffle.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[0.5800, 0.6100, 0.4700,  ..., 0.0000, 0.4800, 0.2200],
         [0.4300, 0.6700, 0.4800,  ..., 0.0000, 0.5300, 0.2200],
         [0.6400, 0.6200, 0.4900,  ..., 0.0000, 0.5300, 0.2200],
         ...,
         [0.6700, 0.5700, 0.3600,  ..., 0.0000, 0.5600, 0.2200],
         [0.4300, 0.4000, 0.6000,  ..., 0.0000, 0.5300, 0.3900],
         [0.6500, 0.5400, 0.5400,  ..., 0.0000, 0.5300, 0.2200]],
        dtype=torch.float64),
 'y': tensor([6, 6, 6,  ..., 4, 7, 0])}