In [1]:
import pandas as pd
import os
import torch

## Preprocessing:
- divided all entries by 100 to normalize !

In [2]:
headers = ['X_{}'.format(i) for i in range(16)] + ['Y']
train = pd.read_csv('pendigits_train_original.csv', sep=',', header=None)
test = pd.read_csv('pendigits_test_original.csv', sep=',', header=None)

In [3]:
train.describe().loc[['min', 'max'], :]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,9.0

In [4]:
test.describe().loc[['min', 'max'], :]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,9.0

In [5]:
test.iloc[:, :16]/100

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.88,0.92,0.02,0.99,0.16,0.66,0.94,0.37,0.70,0.00,0.00,0.24,0.42,0.65,1.00,1.00
1,0.80,1.00,0.18,0.98,0.60,0.66,1.00,0.29,0.42,0.00,0.00,0.23,0.42,0.61,0.56,0.98
2,0.00,0.94,0.09,0.57,0.20,0.19,0.07,0.00,0.20,0.36,0.70,0.68,1.00,1.00,0.18,0.92
3,0.95,0.82,0.71,1.00,0.27,0.77,0.77,0.73,1.00,0.80,0.93,0.42,0.56,0.13,0.00,0.00
4,0.68,1.00,0.06,0.88,0.47,0.75,0.87,0.82,0.85,0.56,1.00,0.29,0.75,0.06,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3493,0.36,1.00,0.24,0.70,0.00,0.38,0.49,0.33,0.95,0.47,0.87,0.55,0.96,0.21,1.00,0.00
3494,0.16,0.75,0.41,1.00,0.52,0.64,0.32,0.27,0.00,0.00,0.21,0.09,0.62,0.02,1.00,0.14
3495,0.56,1.00,0.27,0.79,0.00,0.39,0.12,0.00,0.66,0.15,1.00,0.51,0.93,0.93,0.38,0.93
3496,0.19,1.00,0.00,0.61,0.03,0.23,0.48,0.00,0.97,0.27,1.00,0.66,0.62,0.97,0.10,0.81
3497,0.38,1.00,0.37,0.81,0.12,0.55,0.00,0.28,0.52,0.27,1.00,0.42,0.86,0.26,0.65,0.00

In [6]:
def get_pendigits(test=False):
    ''' prepares the pendigits dataset 

        test : bool : Return test data, else train data
    '''

    if test:
        s = 'test'
    else:
        s = 'train'

    # path to file
    path = os.path.join(os.getcwd(), 'pendigits_{}_original.csv'.format(s))
    tmp = pd.read_csv(path, sep=',', header=None)
    #tmp.columns = ['X_{}'.format(i) for i in range(16)] + ['Y']

    # normalize data
    x, y = torch.from_numpy(
        tmp.values[:, :16]/100.), torch.from_numpy(tmp.values[:, 16]).long()

    return x, y

In [7]:
X_train, y_train = get_pendigits()
X_test, y_test = get_pendigits(test=True)

In [23]:
print(f'Number of input features: {X_train.shape[1]}.')
print(f'Number of output classes: {torch.max(y_train)}.')
print(f'Number of training examples: {X_train.shape[0]}.')
print(f'Number of test examples: {X_test.shape[0]}.')

Number of input features: 16.
Number of output classes: 9.
Number of training examples: 7494.
Number of test examples: 3498.

In [24]:
X = torch.cat((X_train, X_test))
y = torch.cat((y_train, y_test))

In [25]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_Pendigits.p', 'wb') as f:
    pickle.dump(Data, f)

In [26]:
with open('Dataset_Pendigits.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[0.4700, 1.0000, 0.2700,  ..., 0.9000, 0.4000, 0.9800],
         [0.0000, 0.8900, 0.2700,  ..., 0.0200, 1.0000, 0.0600],
         [0.0000, 0.5700, 0.3100,  ..., 0.2500, 0.1600, 0.0000],
         ...,
         [0.5600, 1.0000, 0.2700,  ..., 0.9300, 0.3800, 0.9300],
         [0.1900, 1.0000, 0.0000,  ..., 0.9700, 0.1000, 0.8100],
         [0.3800, 1.0000, 0.3700,  ..., 0.2600, 0.6500, 0.0000]],
        dtype=torch.float64),
 'y': tensor([8, 2, 1,  ..., 0, 0, 4])}