In [1]:
import torch
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('shuttle.trn', sep=' ', header=None)
test = pd.read_csv('shuttle.tst', sep=' ', header=None)
data = pd.concat([train, test])
train.shape, test.shape, data.shape

((43500, 10), (14500, 10), (58000, 10))

In [3]:
data.head()

    0   1   2  3   4   5   6   7   8  9
0  50  21  77  0  28   0  27  48  22  2
1  55   0  92  0   0  26  36  92  56  4
2  53   0  82  0  52  -5  29  30   2  1
3  37   0  76  0  28  18  40  48   8  1
4  37   0  79  0  34 -26  43  46   2  1

In [4]:
X = data.loc[:,:8]
y = data.loc[:,9]
X.shape, y.shape

((58000, 9), (58000,))

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([1, 3, 0, ..., 3, 0, 3])

In [6]:
X = X.to_numpy()
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [7]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_Shuffle.p', 'wb') as f:
    pickle.dump(Data, f)

In [8]:
with open('Dataset_Shuffle.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[ 50,  21,  77,  ...,  27,  48,  22],
         [ 55,   0,  92,  ...,  36,  92,  56],
         [ 53,   0,  82,  ...,  29,  30,   2],
         ...,
         [ 55,   0,  77,  ...,  22,  65,  42],
         [ 37,   0, 103,  ...,  66,  85,  20],
         [ 56,   2,  98,  ...,  42,  46,   4]]),
 'y': tensor([1, 3, 0,  ..., 3, 0, 3])}