In [1]:
import torch
import pandas as pd
import numpy as np

# White Wine

In [2]:
data_w = pd.read_csv('winequality-white.csv', sep=';')
data_w.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
X = data_w.loc[:,:'alcohol']
y = data_w.loc[:,'quality']
X.shape, y.shape

((4898, 11), (4898,))

In [4]:
X = X.to_numpy()
y = y.to_numpy()
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [5]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_WineWhite.p', 'wb') as f:
    pickle.dump(Data, f)

In [6]:
with open('Dataset_WineWhite.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[ 7.0000,  0.2700,  0.3600,  ...,  3.0000,  0.4500,  8.8000],
         [ 6.3000,  0.3000,  0.3400,  ...,  3.3000,  0.4900,  9.5000],
         [ 8.1000,  0.2800,  0.4000,  ...,  3.2600,  0.4400, 10.1000],
         ...,
         [ 6.5000,  0.2400,  0.1900,  ...,  2.9900,  0.4600,  9.4000],
         [ 5.5000,  0.2900,  0.3000,  ...,  3.3400,  0.3800, 12.8000],
         [ 6.0000,  0.2100,  0.3800,  ...,  3.2600,  0.3200, 11.8000]],
        dtype=torch.float64),
 'y': tensor([3, 3, 3,  ..., 3, 4, 3])}

# Red Wine

In [7]:
data_r = pd.read_csv('winequality-red.csv', sep=';')
data_r.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
X = data_r.loc[:,:'alcohol']
y = data_r.loc[:,'quality']
X.shape, y.shape

((1599, 11), (1599,))

In [9]:
X = X.to_numpy()
y = y.to_numpy()
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [10]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_WineRed.p', 'wb') as f:
    pickle.dump(Data, f)

In [11]:
with open('Dataset_WineRed.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[ 7.4000,  0.7000,  0.0000,  ...,  3.5100,  0.5600,  9.4000],
         [ 7.8000,  0.8800,  0.0000,  ...,  3.2000,  0.6800,  9.8000],
         [ 7.8000,  0.7600,  0.0400,  ...,  3.2600,  0.6500,  9.8000],
         ...,
         [ 6.3000,  0.5100,  0.1300,  ...,  3.4200,  0.7500, 11.0000],
         [ 5.9000,  0.6450,  0.1200,  ...,  3.5700,  0.7100, 10.2000],
         [ 6.0000,  0.3100,  0.4700,  ...,  3.3900,  0.6600, 11.0000]],
        dtype=torch.float64),
 'y': tensor([2, 2, 2,  ..., 3, 2, 3])}