In [1]:
# !pip install xlrd

In [8]:
import pandas as pd
import torch
import numpy as np

In [3]:
data = pd.read_excel('CTG.xls', sheet_name='Data', header=1)
data.head()

,b,e,AC,FM,UC,DL,DS,DP,DR,Unnamed: 9,...,E,AD,DE,LD,FS,SUSP,Unnamed: 42,CLASS,Unnamed: 44,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,NaN,9.0,NaN,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,0.0,0.0,0.0,NaN,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,NaN,6.0,NaN,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,NaN,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,2.0,NaN,1.0

In [4]:
data.dropna(axis='columns', how='all', inplace=True)
data.dropna(axis='index', how='any', inplace=True)
data.columns

Index(['b', 'e', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'DR', 'Unnamed: 9', 'LB',
       'AC.1', 'FM.1', 'UC.1', 'DL.1', 'DS.1', 'DP.1', 'ASTV', 'MSTV', 'ALTV',
       'MLTV', 'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean',
       'Median', 'Variance', 'Tendency', 'Unnamed: 31', 'A', 'B', 'C', 'D',
       'E', 'AD', 'DE', 'LD', 'FS', 'SUSP', 'Unnamed: 42', 'CLASS',
       'Unnamed: 44', 'NSP'],
      dtype='object')

In [10]:
X_full = data.loc[:, 'LB':'Tendency']
Y = data.loc[:, 'A':'SUSP']
Y = Y.to_numpy()
X_full.shape, Y.shape

((2126, 21), (2126, 10))

In [14]:
y = np.argmax(Y, axis=1)
y.shape

(2126,)

In [15]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
X = pca.fit_transform(X_full)
X.shape

(2126, 10)

In [16]:
X, y = torch.from_numpy(X), torch.from_numpy(y).long()
X.shape, y.shape

(torch.Size([2126, 10]), torch.Size([2126]))

In [17]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_Cardiography.p', 'wb') as f:
    pickle.dump(Data, f)

In [18]:
with open('Dataset_Cardiography.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[ 2.0936e+01,  4.4636e+01,  4.4263e+01,  ...,  1.7490e+01,
          -1.3325e+01, -9.9226e+00],
         [ 6.1821e+01, -3.0329e+01, -2.9888e+01,  ..., -3.4851e+00,
          -1.3268e-01, -2.6902e-01],
         [ 6.2558e+01, -2.9136e+01, -2.9587e+01,  ..., -3.1284e+00,
           2.8196e+00, -1.2818e+00],
         ...,
         [-2.1577e+01, -2.6705e+01,  5.2231e+00,  ...,  3.2849e+00,
           4.0916e-03, -8.5889e-02],
         [-2.3194e+01, -2.4736e+01,  6.6793e+00,  ...,  3.3898e+00,
           8.2574e-01,  1.1622e-01],
         [-4.9551e+01, -8.4159e+00,  1.2813e+01,  ..., -7.2903e-01,
          -3.4130e-02, -1.1923e+00]], dtype=torch.float64),
 'y': tensor([8, 5, 5,  ..., 4, 4, 0])}