In [1]:
import os
import numpy as np
import torch
import pandas as pd

In [2]:
data = pd.read_csv('arrhythmia.data', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [3]:
# remove NaN
data.dropna(axis='columns', how='all', inplace=True)
data.dropna(axis='index', how='any', inplace=True)
# remove '?'
data = data.loc[:,(data!='?').all(axis=0)]
data = data.loc[(data!='?').all(axis=1),:]
data.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [4]:
X_full = data.loc[:,:278].astype('float')
y = data.loc[:,279].astype('float')
X_full.shape, y.shape

((452, 274), (452,))

In [5]:
from sklearn.decomposition import PCA
pca = PCA(n_components=12)
X = pca.fit_transform(X_full)
X.shape

(452, 12)

In [6]:
y = y.to_numpy()
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

In [7]:
X, y = torch.from_numpy(X), torch.from_numpy(y).long()
X.shape, y.shape

(torch.Size([452, 12]), torch.Size([452]))

In [8]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_Arrhythmia.p', 'wb') as f:
    pickle.dump(Data, f)

In [9]:
with open('Dataset_Arrhythmia.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[  17.0836,  -32.6892,   37.3283,  ...,  -98.6689,   42.6358,
             8.3638],
         [ -16.9618,    2.6749,   27.2057,  ...,  -11.6410,   15.0756,
           -28.0482],
         [ -68.5178,   26.8206, -110.5638,  ...,  -38.1480,    6.8581,
            26.5181],
         ...,
         [ 320.7088,    3.7807, -153.1463,  ...,   57.7036,  -19.3665,
            52.6746],
         [ -78.2668,  -22.4446,   69.4107,  ...,   -2.7879,  -38.4096,
           -49.2921],
         [ -51.3924,  -61.6315,  -11.2799,  ...,   13.9559,   14.5036,
             3.2204]], dtype=torch.float64),
 'y': tensor([ 7,  5,  9,  0,  6, 10,  0,  0,  0,  9,  2,  0,  9,  5,  0,  0,  9,  0,
          0,  0,  0,  0,  0,  0,  0, 12, 10,  9,  1,  1,  5,  0,  0,  0,  3,  0,
          0,  9,  0,  5,  0,  0,  0,  0,  0,  3,  4,  0,  5,  0,  0,  0,  9, 12,
         12,  5,  0,  0,  5,  0,  4,  4,  0,  0,  0,  0,  1,  0,  5,  0,  5, 12,
          0,  0,  0,  9,  2,  1,  0,  0,  0,  0,  1,  3,  5,  8,  1,  3,  8,  8,
          0,  3,  0,  4,  9,  0,  9,  0,  0,  0,  3,  0,  0,  0,  5,  3,  5,  0,
          1,  0,  0,  0,  0,  0,  5,  0, 12,  0,  0,  0,  0,  0,  0,  0,  0,  0,
          0,  9,  0,  0,  0,  0,  0,  0,  9,  0,  0,  9,  0,  0,  0,  4,  0,  0,
          9,  9,  9,  0,  0,  9,  0,  0,  0,  5, 12,  0,  0,  1,  0,  0,  0,  0,
          0,  0,  0,  0,  0,  0,  4,  3,  0,  0,  0,  9, 11,  5,  0,  0,  0,  1,
          0, 12,  0,  3,  1,  3,  1,  1, 10,  8,  0,  0,  1,  1,  0,  0,  0, 12,
         12,  0,  1,  0,  0,  0,  2,  0,  0,  8,  0,  9,  9,  0,  1,  1,  3,  0,
          1, 11,  2, 12,  0,  0,  5,  0,  9,  2,  0, 12,  0,  0,  0,  3,  0,  0,
          0,  1,  0,  1,  0,  0,  0,  0,  0, 11,  0,  1,  0,  0,  3,  0,  9,  3,
          2,  2,  0,  0,  1,  2,  4,  1,  0, 12,  0,  0,  0,  0,  9,  0,  0,  0,
          0,  0,  5,  0,  0,  1,  0,  1,  9,  0,  0,  0,  0,  5,  9,  2,  0,  0,
          0,  0,  0,  9,  0,  9,  1,  1,  1,  9,  9,  0, 11,  0,  5,  2,  1,  0,
         12,  5,  1,  6,  0,  0,  9,  9,  0,  0,  4,  0,  0,  9,  4,  0,  1,  1,
          9,  0,  9,  6,  0,  1,  0,  0, 12,  0,  9,  0,  9,  0,  0,  0, 12,  9,
          0,  5,  9,  0,  9,  0,  4,  0,  0,  1,  0,  9, 12,  0,  2,  1,  5,  1,
          1,  2, 12,  9,  5,  0,  1,  1,  1,  0,  8,  0,  1,  0,  4,  1,  7,  0,
          0,  9, 12,  2,  0,  0,  5,  0, 12,  4,  8,  0,  0,  0,  0,  0,  0,  8,
          0,  9,  2,  0,  9, 10,  0,  4,  0,  0,  0,  0,  0, 12,  3,  1, 12,  0,
          0,  0,  0,  9,  0,  0, 11,  0,  0,  0,  8,  0,  0,  9,  0, 12,  9,  5,
          9,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  9,  0,  0,  0,  0,  9,  1,
          0,  0])}