In [2]:
import torch
import pandas as pd
import numpy as np

In [4]:
data = pd.read_table('data_banknote_authentication.txt', sep=',', header=None)
data.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [5]:
X = data.loc[:,:3]
y = data.loc[:,4]
X.shape, y.shape

((1372, 4), (1372,))

In [6]:
X.head()

         0       1       2        3
0  3.62160  8.6661 -2.8073 -0.44699
1  4.54590  8.1674 -2.4586 -1.46210
2  3.86600 -2.6383  1.9242  0.10645
3  3.45660  9.5228 -4.0112 -3.59440
4  0.32924 -4.4552  4.5718 -0.98880

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: 4, dtype: int64

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([0, 0, 0, ..., 1, 1, 1])

In [9]:
X = X.to_numpy()
y = np.array(y)
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [11]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_BankNote.p', 'wb') as f:
    pickle.dump(Data, f)

In [12]:
with open('Dataset_BankNote.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[  3.6216,   8.6661,  -2.8073,  -0.4470],
         [  4.5459,   8.1674,  -2.4586,  -1.4621],
         [  3.8660,  -2.6383,   1.9242,   0.1065],
         ...,
         [ -3.7503, -13.4586,  17.5932,  -2.7771],
         [ -3.5637,  -8.3827,  12.3930,  -1.2823],
         [ -2.5419,  -0.6580,   2.6842,   1.1952]], dtype=torch.float64),
 'y': tensor([0, 0, 0,  ..., 1, 1, 1])}