In [25]:
import pandas as pd

In [26]:
ds = 'EnergyEfficiency.xlsx'

In [27]:
data = pd.read_excel(f'{ds}')
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,Unnamed: 10,Unnamed: 11
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33,NaN,NaN
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33,NaN,NaN
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33,NaN,NaN
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33,NaN,NaN
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28,NaN,NaN

In [28]:
x_df = data.loc[:, 'X1':'X8']
x_df.head()

     X1     X2     X3      X4   X5  X6   X7  X8
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0

In [29]:
y1_df = data.loc[:, 'Y1']
y1_df.head()

0    15.55
1    15.55
2    15.55
3    15.55
4    20.84
Name: Y1, dtype: float64

In [30]:
y2_df = data.loc[:, 'Y2']
y2_df.head()

0    21.33
1    21.33
2    21.33
3    21.33
4    28.28
Name: Y2, dtype: float64

In [31]:
import torch
X, y = torch.from_numpy(x_df.values), torch.from_numpy(y_df.values).long()
X.shape, y.shape

(torch.Size([768, 8]), torch.Size([2126]))

In [32]:
X = X - torch.min(X, axis=0)[0]
X = X / torch.max(X, axis=0)[0]
X[:5,:5]

tensor([[1.0000, 0.0000, 0.2857, 0.0000, 1.0000],
        [1.0000, 0.0000, 0.2857, 0.0000, 1.0000],
        [1.0000, 0.0000, 0.2857, 0.0000, 1.0000],
        [1.0000, 0.0000, 0.2857, 0.0000, 1.0000],
        [0.7778, 0.1667, 0.4286, 0.1111, 1.0000]], dtype=torch.float64)

In [16]:
import pickle
filename = 'Dataset_' + ds.replace(' ', '')
filename = filename.replace('.xls', '')
filename = filename.replace('-', '')
Data = {'X': X, 'y': y}
with open(f'{filename}.p', 'wb') as f:
    pickle.dump(Data, f)

In [17]:
with open(f'{filename}.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[0.2593, 0.0000, 0.0000,  ..., 0.4037, 0.2714, 1.0000],
         [0.4815, 0.3308, 0.0000,  ..., 0.5780, 0.0446, 0.5000],
         [0.5000, 0.1723, 0.0000,  ..., 0.5596, 0.0483, 0.5000],
         ...,
         [0.6296, 0.0508, 0.0000,  ..., 0.6881, 0.0149, 1.0000],
         [0.6296, 0.0352, 0.0000,  ..., 0.6789, 0.0149, 1.0000],
         [0.6667, 0.0838, 0.0034,  ..., 0.6239, 0.0037, 0.5000]],
        dtype=torch.float64),
 'y': tensor([1, 0, 0,  ..., 1, 1, 0])}