In [1]:
import torch
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv('wifi_localization.txt', delim_whitespace=True, header=None)
data.head()

    0   1   2   3   4   5   6  7
0 -64 -56 -61 -66 -71 -82 -81  1
1 -68 -57 -61 -65 -71 -85 -85  1
2 -63 -60 -60 -67 -76 -85 -84  1
3 -61 -60 -68 -62 -77 -90 -80  1
4 -63 -65 -60 -63 -77 -81 -87  1

In [17]:
X = data.loc[:,:6]
y = data.loc[:,7]
X.shape, y.shape

((2000, 7), (2000,))

In [18]:
X.head()

    0   1   2   3   4   5   6
0 -64 -56 -61 -66 -71 -82 -81
1 -68 -57 -61 -65 -71 -85 -85
2 -63 -60 -60 -67 -76 -85 -84
3 -61 -60 -68 -62 -77 -90 -80
4 -63 -65 -60 -63 -77 -81 -87

In [19]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: 7, dtype: int64

In [20]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([0, 0, 0, ..., 3, 3, 3])

In [21]:
X = X.to_numpy()
y = np.array(y)
unique = np.unique(y)
for i in range(len(unique)):
    y[y==unique[i]] = i

X, y = torch.from_numpy(X), torch.from_numpy(y).long()

In [23]:
import pickle
Data = {'X': X, 'y': y}
with open('Dataset_WifiLocalization.p', 'wb') as f:
    pickle.dump(Data, f)

In [24]:
with open('Dataset_WifiLocalization.p', 'rb') as f:
    Data_read = pickle.load(f)
Data_read

{'X': tensor([[-64, -56, -61,  ..., -71, -82, -81],
         [-68, -57, -61,  ..., -71, -85, -85],
         [-63, -60, -60,  ..., -76, -85, -84],
         ...,
         [-62, -59, -46,  ..., -45, -87, -88],
         [-62, -58, -52,  ..., -41, -90, -85],
         [-59, -50, -45,  ..., -45, -88, -87]]),
 'y': tensor([0, 0, 0,  ..., 3, 3, 3])}